<div class="container d-flex flex-column"
    style="height: 100dvh;;">
  <div class="header d-flex justify-content-center">
    <h1 class="p-2">Movie Trivia -- Question #{{counter + 1}}!</h1>
  </div>
  <div class="d-flex justify-content-center">
    <hr width="80%">
  </div>
  <div class="d-flex quiz border-warning">
    <div class="d-flex ms-5">
      <div class="flex-shrink-0">
        <img src="{{picUrl}}" alt="placeholder image" height="333px" width="250px">
      </div>
      <div class="ms-3">
        <span>
          <div class="flex-column" style="width: 100%; margin-top: 5px;">
            <h1><strong>{{currentQuestion}}</strong></h1>
            <form #truefalseref="ngForm" id="form" (submit)="submitAnswer(truefalseref)">
              <div class="form-group ">
                <label>Select correct answer</label>
                <br>
                <input class="form-check-input" type="radio" id="true" name="answer" value="true" ngModel>
                <label class="form-check-label" for="true"> True</label>
                <br>
                <input class="form-check-input" type="radio" id="true" name="answer" value="false" ngModel>
                <label class="form-check-label" for="false">False</label>
              </div>
              <button class="btn btn-primary" type="submit" [disabled]="isSubmitted">Submit answer</button>
            </form>
            <a style="cursor: pointer;" (click)="goToNextQuestion()">
              <button *ngIf="counter < questionList.length - 1 && showNext">Next Question ==></button>
            </a>
          </div>

        </span>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-end" style="margin-top: 30px;">
    <h2 class="p-2" style="color: #d4312fff">{{result}}</h2>
  </div>
</div>