<div class="main-container d-flex flex-column justify-content-start" style="width: 100%; margin-top: 5px;">
<h1>{{currentQuestion}}</h1>
<form (submit)="submitAnswer()">
  <div class="form-group">
    <label>Select correct answer</label>
<input type="radio" id="true" name="answer" value="true" [(ngModel)]="answer">
<label for="true">True</label>
<input type="radio" id="true" name="answer" value="false" [(ngModel)]="answer">
<label for="false">False</label>
  </div>
  <button class="btn btn-primary">Submit answer</button>
</form>
</div>
