<h1>Pikman!</h1>

<h1>Register</h1>

<form (ngSubmit)="onSubmit(signUpForm)" #signUpForm="ngForm">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" ngModel required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" ngModel required>
  </div>
  <button type="submit">Sign Up</button>
</form>

<h1>Login</h1>

<form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
  <div>
    <label for="loginEmail">Email:</label>
    <input type="email" id="loginEmail" name="loginEmail" ngModel required>
  </div>
  <div>
    <label for="loginPassword">Password:</label>
    <input type="password" id="loginPassword" name="loginPassword" ngModel required>
  </div>
  <button type="submit">Log In</button>
</form>