<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form>
        <div id="trivia-quest-data">
          <div class="form-group">
            <label for="question">Edit you question:</label>
            <input type="text" id="question" class="form-control">
          </div>
      </div>
        <div class="trivai-answer-data">
          <div class="form-group">
            <label for="answer">Change correct answer:</label>
            <select name="answer" id="trivai-answer-data">
             <option value="true">True</option>
            <option value="false">False</option>
            </select>
          </div>
        </div>
        <button class="btn btn-primary">Resubmit</button>
      </form>
    </div>
  </div>
</div>
